.button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: tomato;
  color: White;
  font-weight: bold;
  display: inline-block;
  width: 150px;
  text-align: center;
  margin: 5px;
}
